gidea/
*.pyc
*.swp
*.so
*.o
*.png
!docs/source/images/*.png
.project
.pydevproject
test_data/
build/
dist/
nansat.egg-info/
docs/_build/
#docs/_static/
#docs/_templates/
.project
.pydevproject
.idea
.settings
.vagrant
provisioning/roles/andrewrothstein*
provisioning/site.retry
.vscode
.devcontainer
.coverage